@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
  
.navbar-right {
    float: right;
    flex: 1;
}